/week-01/day-3/.idea
/week-01/day-3/out
/week-01/day-3/*.iml
/week-01/day-4/.idea
/week-01/day-4/out
/week-01/day-4/*iml
/week-02/day-2/.idea
/week-02/day-2/out
/week-02/day-2/*.iml
/week-02/day-3/.idea
/week-02/day-3/out
/week-02/day-3/*.iml
