<!DOCTYPE html>
<head>
        <title>Newsletter</title>
</head>
<body>
    <form action="https://newsletter-ws.herokuapp.com/signup" method="POST">
        <div>
            <label>USERNAME</label>
            <input type="text" id="name" name="name" autofocus required>
        </div>
        <div>
            <label>EMAIL</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <input type="submit" id="submit" name="submit">
        </div>
    </form>
</body>