<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="utf-8" />
</head>
<body>

<div>
    <form action="#" th:action="@{/simbank/add}" th:object="${account}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}" required>

        <label for="balance">Balance</label>
        <input type="number" name="balance" id="balance" th:field="*{balance}" required>

        <label for="type">Type</label>
        <input type="text" name="type" id="type" th:field="*{animalType}" required>

        <label>King?</label>
        <input type="checkbox" name="checkbox" th:field="*{king}" th:value="true">

        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>