<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
</head>
<body>
<nav>
    <ul><li><a href="/information">Information</a></li></ul>
</nav>
<div>
    <p><img src="/greenfoxtransparent.png"></p>
    <p th:text="'This is ' + ${name} + ', currently living on ' + ${food} + ' and ' +  ${drink} + '. He knows ' + ${tricks} + ' tricks.'"></p>
</div>
<div>
    <p><b>Known tricks</b></p>
    <ul><li>write HTML</li>
        <li>code in Java</li></ul>
</div>

</body>
</html>