<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
</head>
<body>
<nav>
    <ul><li><a href="/information">Information</a></li></ul>
</nav>
<div>
    <p><img src="/greenfoxtransparent.png"></p>
    <p th:text="'This is ' + ${name} + ', currently living on ' + ${food} + ' and ' +  ${drink} + '. They know ' + ${tricks} + ' tricks.'"></p>
    <p><span th:if="${hungry < 1}">This fox is hungry and cannot learn any new tricks now. <a href="/feed">Feed</a></span>
        <span th:unless="${hungry < 1}" ><a href="/learn">Learn new trick!</a></span></p>
</div>
<div>
    <p><b>Known tricks</b></p>
    <ul><li>write HTML</li>
        <li>code in Java</li></ul>
</div>

</body>
</html>