<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta charset="utf-8" />
</head>
<body>

<div>
    <form action="#" th:action="@{/nutritionstore}" method="post">
        <select name="food">
            <option value="fiat" selected>takeout pizza</option>
            <option value="fiat" selected>McDonald's</option>
            <option value="fiat" selected>soup</option>
            <option value="fiat" selected>chips</option>
        </select>
    </form>
</div>

</body>
</html>