<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta charset="utf-8" />
</head>
<body>

<div>
    <form action="#" th:object="${fox}" th:action="@{/nutritionstore}" method="post">
        <select name="name" th:*field="*{food}">
            <option value="pizza" selected>takeout pizza</option>
            <option value="mcdonalds" selected>McDonald's</option>
            <option value="soup" selected>soup</option>
            <option value="chips" selected>chips</option>
        </select>
        <button type="submit">FEED</button>
    </form>
</div>

</body>
</html>