<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>average</title>
</head>
<body>
<nav>
    <nav></nav>
    <h1>My Shop</h1>
    <div>
        <input type="submit" value="ONLY AVAILABLE" onclick="window.location='/webshop/available';" />
        <input type="submit" value="CHEAPEST FIRST" onclick="window.location='/webshop/sort=price-asc';" />
        <input type="submit" value="CONTAINS NIKE" onclick="window.location='/webshop/search?name=nike';" />
        <input type="submit" value="AVERAGE STOCK" onclick="window.location='/webshop/average';" />
        <input type="submit" value="MOST EXPENSIVE AVAILABLE" onclick="window.location='/webshop/most-expensive';" />
    </div>
</nav>
    <p th:text="${items}"/>
</body>
</html>