.fejlec {
    color: #ff0099;
    background-color: #333333;
    font: 16px courier, sans-serif;
    padding: 10px;
    }

body {
    background-image: url("topography.png");
}

.pic {
    padding: 0px 0px 0px 10%;
}

.home {
    color: #ff0099;
    padding: 10% 0% 10% 50%;
    }

.wiki {
    color: #ff0099;
    padding: 10% 0% 10% 10%;
}

.github {
    color: #ff0099;
    padding: 10% 0% 10% 10%;
}

.linkedin {
    color: #ff0099;
    padding: 10% 0% 10% 10%;
}

.name {
    font: bold 40px consolas, sans-serif;
}
.pink {
    color: #ff0099;
    font: bold 20px consolas, sans-serif;
        }

.szoveg {
    font: 16px courier, sans-serif;
    padding: 0% 10%;
}

.wikifont {
    font: bold 30px consolas, sans-serif;
    text-align: center;
}

.instructionfont {
    font: bold 20px consolas, sans-serif;
}